# На примере данного файла создайте свой файл .env
# Вставьте свои значение вместо примера
# Передайте_ключ_без('' "")
SECRET_KEY=generate_secret_key

# Передайте значение True или False
DEBUG=True


# Впишите данные вашей базы данных PostgreSQL
# Данные ниже для примера
NAME=name_DB_postgresql
USER=postgres_example
PASSWORD=7777_example
HOST=localhost_example
PORT=5432_example