# На примере данного файла создайте свой файл .env
# Вставьте свои значение вместо примера
# Передайте_ключ_без('' "")
SECRET_KEY=generate_secret_key

# Передайте значение True или False
DEBUG=True


# Впишите данные вашей базы данных PostgreSQL
# Данные ниже для примера
NAME=example_name
USER=postgres_or_about
PASSWORD=7777_example
HOST=localhost_example
PORT=5432_example

POSTGRES_DB=example_name
POSTGRES_USER=postgres_or_about
POSTGRES_PASSWORD=7777_example


# Передайте ваш secret_key для (https://dashboard.stripe.com/)
STRIPE_API_KEY=sk_test_777777example44444444

# Передайте настройки Redis
CELERY_BROKER_URL=redis://exapmle:6379/0
CELERY_RESULT_BACKEND=redis://example:6379/0

# Передайте настройки для отправки сообщений на email
EMAIL_HOST=smtp.gmail.com(or_your_hos)
EMAIL_PORT=587(or_your_port)
EMAIL_USE_TLS=True(or_False)
EMAIL_USE_SSL=False(or_True)
EMAIL_HOST_USER=example@mail.com
EMAIL_HOST_PASSWORD=password_your_email